.inner {
    margin-top: 2vh;
    flex-basis: 76vh;
}

#game-boards-wrapper {
    width: 800px;
    max-width: 95vw;
    margin: 0 auto;
}

.game-board {
    display: inline-block;
    margin: 10px;
    width: 45%;
    min-width: 300px;
}

#game-over-modal {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#game-over-splash {
    text-align: center;
    border-radius: 5px;
    top: 20vh;
    position: absolute;
    left: 31.3vw;
}

#game-over-modal > h1 {
    position: absolute;
    display: none;
    top: 34%;
    font-size: 80px;
    text-shadow: 2px 2px 2px black;
    z-index: 5;
}

#game-over-header-won {
    color: #1fa81f;
    left: 43%;
}

#game-over-header-lost {
    color: #d31b1b;
    left: 43%;
}

#game-over-splash > img {
    border: solid black 2px;
    display: none;
    width: 700px;
    max-width: 90vw;
}

#exit-button {
    margin-top: 5px;
}

#game-own-board.board-disabled button {
    background-color: rgba(39, 179, 179, 0.829);
}

#game-enemy-board.board-disabled button {
    background-color: gray;
}

.grid-row {
    display: inline-block;
    width: 100%;
}

.grid-button-self, .grid-button-opp {
    background-color: rgb(59, 96, 197);
    width: 8%;
    height: 8vh;
    max-width: 30px;
    max-height: 30px;
    margin: 2px 1px;
}

#status-opponent, #status-self {
    text-align: center;
    font-size: 20px;
}

.player-ready {
    color: rgba(56, 160, 56, 0.918);
}

.player-turn {
    color: white;
}

.player-waiting {
    color: rgba(194, 47, 47, 0.897);
}

.player-hide {
    opacity: 0;
}

.selected-grid {
    border: solid 2px white;
}

.selected-ship {
    border: solid 2px red;
}

.placed-ship {
    background-color: rgb(218, 156, 105) !important;
}

.grid-button-self.hit-ship {
    background-color: red !important;
}

.grid-button-opp.hit-ship {
    background-color: green !important;
}

.ship-btn:disabled {
    background-color: gray;
}

.grid-button-self.shot-missed {
    background-color: rgb(179, 179, 179) !important;
}

.grid-button-opp.shot-missed {
    background-color: red !important;
}

.sunk-ship {
    background-color: black !important;
}
