.inner {
    width: 90vw;
    max-width: 800px;
    margin-top: 3vh;
}

#refresh-list-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px;
}

#refresh-list-btn > img {
    width: 22px;
}

#lobbies-list {
    background-color: rgb(62, 62, 62);
}

.lobby-list-elem {
    padding: 3px;
    border-bottom: solid white 1px;
    margin-top: 3px;
}

.lobby-list-elem > div {
    display: inline-block;
}

.lobby-name {
    width: 30%;
    border-right: solid white 2px;
}

.lobby-id {
    width: 40%;
    border-right: solid white 2px;
}

.list-header {
    border-top: solid white 1px;
}

.lobby-status {
    width: 15%;
}

.join-button {
    width: 10%;
}

.header-padding {
    opacity: 0;
    width: 10%;
}

.status-pending {
    color: rgb(53, 175, 53);
}

.cant-join {
    width: 10%;
}

#no-active-lobbies {
    padding: 10px;
    font-size: 18px;
}