{% extends "base.html" %}
{% block title %}Battleship{% endblock %}
{% block head %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
</script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game.css') }}">
{% endblock %}
{% block content %}
<div id="game-div">
    <div class="{% if p1_ready or status == 'underway' %}hidden{% else %}game-ships{% endif %}">
        <button class="ship-btn" data-ship_size="1" data-ship_id="ship-patrol">
            <img src="{{ url_for('static', filename='img/PatrolBoat_horizontal.png') }}">
        </button>
        <button class="ship-btn" data-ship_size="2" data-ship_id="ship-cruiser">
            <img src="{{ url_for('static', filename='img/Cruiser_horizontal.png') }}">
        </button>
        <button class="ship-btn" data-ship_size="3" data-ship_id="ship-battleship">
            <img src="{{ url_for('static', filename='img/BattleShip_horizontal.png') }}">
        </button>
        <button class="ship-btn" data-ship_size="3" data-ship_id="ship-submarine">
            <img src="{{ url_for('static', filename='img/Submarine_horizontal.png') }}">
        </button>
        <button class="ship-btn" data-ship_size="4" data-ship_id="ship-aircraft">
            <img src="{{ url_for('static', filename='img/AircraftCarrier_horizontal.png') }}">
        </button>
    </div>
    <div id="game-boards-wrapper">
        <div id="game-own-board" class="game-board {% if status == 'underway' %}board-disabled{% endif %}">
            {% for y, row in grid_data[0] %}
                <div class="grid-row">
                {% for x, grid in row %}
                    <button class="grid-button-self {{ grid }}" data-x="{{ x }}" data-y="{{ y }}">
                        
                    </button>
                {% endfor %}
                </div>
            {% endfor %}
            {% if status == 'setup' %}
                <p id="status-self" class="player-{% if p1_ready %}ready{% else %}waiting{% endif %}">
                    {% if not p1_ready %}Not{% endif %} Ready
                </p>
            {% else %}
                <p id="status-self" class="player-hide">
                    Fire at Will!
                </p>
            {% endif %}
        </div>
        <div id="game-enemy-board" class="game-board {% if status == 'setup' or not turn %}board-disabled{% endif %}">
            {% for y, row in grid_data[1] %}
                <div class="grid-row">
                {% for x, grid in row %}
                    <button class="grid-button-opp {{ grid }}" data-x="{{ x }}" data-y="{{ y }}">
                        
                    </button>
                {% endfor %}
                </div>
            {% endfor %}
            {% if status == 'setup' %}
                <p id="status-opponent" class="player-{% if p2_ready %}ready{% else %}waiting{% endif %}">
                    {% if not p2_ready %}Not{% endif %} Ready
                </p>
            {% else %}
                <p id="status-opponent" class="player-turn">
                    {% if turn %}
                    Fire at Will!
                    {% else %} 
                    Waiting for Move
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
    <button id="player-action-btn" {% if not turn or status == 'setup' %}disabled="disabled"{% endif %} onclick="{% if status == 'setup' %}markAsReady();{% else %}makeMove();{% endif %}">
        {% if status == 'setup' %}Ready{% else %}Fire!{% endif %}
    </button>
</div>

{% include "chat.html" %}

{% endblock %}
{% block scripts %}
{% import "return_button.html" as return_btn %}
<div id="game-over-modal">
    <h1 id="game-over-header-won">Victory!</h1>
    <h1 id="game-over-header-lost">Defeat!</h1>
    <div id="game-over-splash">
        <img id="splash-won" src="{{ url_for('static', filename='img/victory.jpg') }}">
        <img id="splash-lost" src="{{ url_for('static', filename='img/defeat.jpg') }}">
        {{ return_btn.button('Exit') }}
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/shared.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
{% if game_type == 'pvp' %}
<script>
    socket.emit("player_joined", getCookieVal("battleship"));
</script>
{% endif %}
{% if status == 'setup' %}
    <script>initSetup();</script>
{% else %}
    <script>initGame();</script>
{% endif %}
{% endblock %}
