<html>
<head>
    <title>Battleship</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
</head>
<body>
    <div class="wrapper">
        <img id="main-title" width="1000px" src="{{ url_for('static', filename='img/main-title.png') }}">
        <div id="main-menu">
            <button onclick="showGameType();">Create game</button>
            <a href="{{ url_for('search.search_game') }}">
                <button>Find game</button>
            </a>
            <div id="game-type">
                <a href="{{ url_for('lobby.new_pvp') }}">
                    <button>VS. Player</button>
                </a>
                <a href="{{ url_for('lobby.new_pvai')}}">
                    <button>VS. AI</button>
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>