{% extends "base.html" %}
{% block title %}Battleship{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}
{% block content %}
<h1>Public Lobbies</h1>
<div id="lobbies-list">
    {% if not lobbies %}
        <div>There are no public & active lobbies.</div>
    {% else %}
        <div class="lobby-list-elem list-header">
            <div class="lobby-name">Name</div>
            <div class="lobby-id">Lobby ID</div>
            <div class="lobby-status">Status</div>
            <div class="header-padding">dasd</div>
        </div>
        {% for id, name, status in lobbies %}
            <div class="lobby-list-elem">
                <div class="lobby-name">{{ name }}</div>
                <div class="lobby-id">{{ id }}</div>
                <div class="lobby-status status-{{status}}">{{ status }}</div>
                {% if (status != 'ended' and id == active_lobby) or status == 'pending' %}
                    <a href="{% if id == active_lobby %}{{ url_for('game.join_game', lobby_id=id) }}{% else %}{{ url_for('lobby.join_lobby', lobby_id=id) }}{% endif %}">
                        <button class="join-button">
                            {% if id == active_lobby %}Rejoin{% else %}Join{% endif %}
                        </button>
                    </a>
                {% else %}
                    <div class="cant-join"></div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}